.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #353535 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #353535 !important;
  border-color: #353535 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0a0a0a !important;
  border-color: #0a0a0a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0a0a0a !important;
  border-color: #0a0a0a !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #353535;
  color: #353535;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #0a0a0a !important;
  background-color: transparent!important;
  border-color: #0a0a0a !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #353535 !important;
  border-color: #353535 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #e43f3f;
  color: #e43f3f;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #b31919 !important;
  background-color: transparent!important;
  border-color: #b31919 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: #2a747e !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #353535 !important;
}
.text-secondary {
  color: #e43f3f !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #020202 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #a61717 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #353535;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #353535;
  border-color: #353535;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #353535;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #a8a8a8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #353535 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #353535;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #353535;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #353535;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #353535 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #e43f3f !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23353535' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-thJ1mglsY3 {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-thJ1mglsY3 nav.navbar {
  position: fixed;
}
.cid-thJ1mglsY3 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-thJ1mglsY3 .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-thJ1mglsY3 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-thJ1mglsY3 .dropdown-item:hover,
.cid-thJ1mglsY3 .dropdown-item:focus {
  background: #353535 !important;
  color: white !important;
}
.cid-thJ1mglsY3 .dropdown-item:hover span {
  color: white;
}
.cid-thJ1mglsY3 .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-thJ1mglsY3 .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-thJ1mglsY3 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-thJ1mglsY3 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-thJ1mglsY3 .nav-link {
  position: relative;
}
.cid-thJ1mglsY3 .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-thJ1mglsY3 .container {
    flex-wrap: nowrap;
  }
}
.cid-thJ1mglsY3 .iconfont-wrapper {
  color: #e43f3f !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-thJ1mglsY3 .dropdown-menu,
.cid-thJ1mglsY3 .navbar.opened {
  background: #ffffff !important;
}
.cid-thJ1mglsY3 .nav-item:focus,
.cid-thJ1mglsY3 .nav-link:focus {
  outline: none;
}
.cid-thJ1mglsY3 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-thJ1mglsY3 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-thJ1mglsY3 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-thJ1mglsY3 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-thJ1mglsY3 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-thJ1mglsY3 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-thJ1mglsY3 .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-thJ1mglsY3 .navbar.opened {
  transition: all 0.3s;
}
.cid-thJ1mglsY3 .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-thJ1mglsY3 .navbar .navbar-logo img {
  width: auto;
}
.cid-thJ1mglsY3 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-thJ1mglsY3 .navbar.collapsed {
  justify-content: center;
}
.cid-thJ1mglsY3 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-thJ1mglsY3 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-thJ1mglsY3 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-thJ1mglsY3 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-thJ1mglsY3 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-thJ1mglsY3 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-thJ1mglsY3 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-thJ1mglsY3 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-thJ1mglsY3 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-thJ1mglsY3 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-thJ1mglsY3 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-thJ1mglsY3 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-thJ1mglsY3 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-thJ1mglsY3 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-thJ1mglsY3 .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-thJ1mglsY3 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-thJ1mglsY3 .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-thJ1mglsY3 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-thJ1mglsY3 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-thJ1mglsY3 .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-thJ1mglsY3 .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-thJ1mglsY3 .navbar.navbar-short {
  min-height: 60px;
}
.cid-thJ1mglsY3 .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-thJ1mglsY3 .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-thJ1mglsY3 .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-thJ1mglsY3 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-thJ1mglsY3 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-thJ1mglsY3 .dropdown-item.active,
.cid-thJ1mglsY3 .dropdown-item:active {
  background-color: transparent;
}
.cid-thJ1mglsY3 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-thJ1mglsY3 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-thJ1mglsY3 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-thJ1mglsY3 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-thJ1mglsY3 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-thJ1mglsY3 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-thJ1mglsY3 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-thJ1mglsY3 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-thJ1mglsY3 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-thJ1mglsY3 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #e43f3f;
}
.cid-thJ1mglsY3 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-thJ1mglsY3 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-thJ1mglsY3 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-thJ1mglsY3 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-thJ1mglsY3 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-thJ1mglsY3 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-thJ1mglsY3 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-thJ1mglsY3 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-thJ1mglsY3 .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-thJ1mglsY3 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-thJ1mglsY3 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-thJ1mglsY3 .navbar {
    height: 70px;
  }
  .cid-thJ1mglsY3 .navbar.opened {
    height: auto;
  }
  .cid-thJ1mglsY3 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-thJ1ysotXc .mbr-fallback-image.disabled {
  display: none;
}
.cid-thJ1ysotXc .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/fmk-logo2-948x665.png");
}
.cid-thJ1ysotXc .mbr-section-title {
  color: #353535;
}
.cid-thJ1LKX6a0 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-thJ1LKX6a0 img,
.cid-thJ1LKX6a0 .item-img {
  width: 100%;
}
.cid-thJ1LKX6a0 .item:focus,
.cid-thJ1LKX6a0 span:focus {
  outline: none;
}
.cid-thJ1LKX6a0 .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-thJ1LKX6a0 .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-thJ1LKX6a0 .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-thJ1LKX6a0 .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-thJ1LKX6a0 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-thJ1LKX6a0 .mbr-section-title {
  color: #232323;
}
.cid-thJ1LKX6a0 .mbr-text,
.cid-thJ1LKX6a0 .mbr-section-btn {
  text-align: left;
}
.cid-thJ1LKX6a0 .item-title {
  text-align: left;
}
.cid-thJ1LKX6a0 .item-subtitle {
  text-align: center;
}
.cid-thJXRQorKd {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-thJ2pqH5Ci {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-thJ2pqH5Ci .timeline-element {
  position: relative;
}
.cid-thJ2pqH5Ci .timelines-container {
  display: flex;
  flex-wrap: wrap;
}
.cid-thJ2pqH5Ci .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-thJ2pqH5Ci .mbr-section-title,
.cid-thJ2pqH5Ci .mbr-section-subtitle,
.cid-thJ2pqH5Ci .timeline-date {
  text-align: center;
}
.cid-thJ2pqH5Ci .iconBackground {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #e43f3f;
  margin-left: -9px;
  padding: 0;
}
@media (max-width: 767px) {
  .cid-thJ2pqH5Ci .iconBackground {
    left: 15px;
    top: 30px;
  }
}
@media (min-width: 768px) {
  .cid-thJ2pqH5Ci .iconBackground {
    top: 70px;
    left: 50%;
  }
}
.cid-thJ2pqH5Ci .row:after {
  content: "";
  position: absolute;
  background-color: #e43f3f;
  width: 2px;
}
@media (max-width: 767px) {
  .cid-thJ2pqH5Ci .row:after {
    height: calc(100% + 30px);
    top: 50px;
    left: 15px;
  }
}
@media (min-width: 768px) {
  .cid-thJ2pqH5Ci .row:after {
    height: calc(100% - 20px);
    top: 90px;
    left: 50%;
  }
}
@media (max-width: 767px) {
  .cid-thJ2pqH5Ci .timeline-date-wrapper,
  .cid-thJ2pqH5Ci .timeline-text-wrapper,
  .cid-thJ2pqH5Ci .image-wrapper {
    padding: 0rem;
    padding-left: 2rem;
  }
  .cid-thJ2pqH5Ci .mbr-timeline-date {
    text-align: left !important;
  }
  .cid-thJ2pqH5Ci .mbr-timeline-title {
    text-align: left;
    margin-top: 1rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-thJ2pqH5Ci .timeline-date-wrapper,
  .cid-thJ2pqH5Ci .timeline-text-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-thJ2pqH5Ci .timeline-date-wrapper,
  .cid-thJ2pqH5Ci .timeline-text-wrapper,
  .cid-thJ2pqH5Ci .image-wrapper {
    padding: 2rem;
  }
}
.cid-thJ2vJ2Pky {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-thJ2vJ2Pky blockquote {
  border-color: #e43f3f;
  border-radius: 4px;
  background-color: #fafafa;
}
.cid-thJ2PlHApY {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-thJ2PlHApY .mbr-fallback-image.disabled {
  display: none;
}
.cid-thJ2PlHApY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-thJ2PlHApY .video-wrapper iframe {
  width: 100%;
}
.cid-thJ2PlHApY .mbr-section-title,
.cid-thJ2PlHApY .mbr-section-subtitle,
.cid-thJ2PlHApY .mbr-text {
  text-align: center;
}
.cid-thJ2Hmdhln {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-thJ2Hmdhln .mbr-fallback-image.disabled {
  display: none;
}
.cid-thJ2Hmdhln .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-thJ2Hmdhln .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-thJ2Hmdhln .item {
  padding-left: 0;
  padding-right: 0;
}
.cid-thJ2Hmdhln .item-wrapper {
  height: 100%;
  position: relative;
}
.cid-thJ2Hmdhln .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-thJ2Hmdhln .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-thJ2Hmdhln .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-thJ2Hmdhln .carousel-control,
.cid-thJ2Hmdhln .close {
  background: #1b1b1b;
}
.cid-thJ2Hmdhln .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-thJ2Hmdhln .carousel-control-prev span {
  margin-right: 5px;
}
.cid-thJ2Hmdhln .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-thJ2Hmdhln .carousel-control-next span {
  margin-left: 5px;
}
.cid-thJ2Hmdhln .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-thJ2Hmdhln .close::before {
  content: '\e91a';
}
.cid-thJ2Hmdhln .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-thJ2Hmdhln .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-thJ2Hmdhln .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-thJ2Hmdhln .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-thJ2Hmdhln .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-thJ2Hmdhln .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-thJ2Hmdhln .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-thJ2Hmdhln .carousel-indicators li.active,
.cid-thJ2Hmdhln .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-thJ2Hmdhln .carousel-indicators li::after,
.cid-thJ2Hmdhln .carousel-indicators li::before {
  content: none;
}
.cid-thJ2Hmdhln .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-thJ2Hmdhln .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-thJ2Hmdhln .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-thJ2Hmdhln .carousel-indicators {
    display: none;
  }
}
.cid-thJ2Hmdhln .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-thJ2Hmdhln .carousel-inner > .active {
  display: block;
}
.cid-thJ2Hmdhln .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-thJ2Hmdhln .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-thJ2Hmdhln .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-thJ2Hmdhln .carousel-control,
  .cid-thJ2Hmdhln .carousel-indicators,
  .cid-thJ2Hmdhln .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-thJ2Hmdhln .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-thJ2Hmdhln .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-thJ2Hmdhln .carousel-indicators .active,
.cid-thJ2Hmdhln .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-thJ2Hmdhln .carousel-indicators .active {
  background: #fff;
}
.cid-thJ2Hmdhln .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-thJ2Hmdhln .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-thJ2Hmdhln .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-thJ2Hmdhln .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-thJ2Hmdhln .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-thJ2Hmdhln .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-thJ2Hmdhln .carousel {
  width: 100%;
}
.cid-thJ2Hmdhln .modal-backdrop.in {
  opacity: 0.8;
}
.cid-thJ2Hmdhln .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-thJ2Hmdhln .modal.fade .modal-dialog,
.cid-thJ2Hmdhln .modal.in .modal-dialog {
  transform: none;
}
.cid-thJ2Hmdhln .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-thJ2Hmdhln H6 {
  text-align: center;
}
.cid-thJZHE9awy {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-thJZHE9awy .mbr-fallback-image.disabled {
  display: none;
}
.cid-thJZHE9awy .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-thJ2TJxMzz {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-thJ2TJxMzz .mbr-fallback-image.disabled {
  display: none;
}
.cid-thJ2TJxMzz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-thJ2TJxMzz .card:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-thJ2TJxMzz .card-wrapper {
  background-color: #fafafa;
  border-radius: 4px;
}
.cid-thJ2TJxMzz .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-thJ2TJxMzz .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #e43f3f;
  transition: all 0.3s;
}
.cid-thJ2TJxMzz .social-row .soc-item .mbr-iconfont {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #e43f3f;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.cid-thJ2TJxMzz .social-row .soc-item:hover {
  background-color: #e43f3f;
}
.cid-thJ2TJxMzz .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-thJ2TJxMzz .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-thJ2TJxMzz .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-thJ2TJxMzz .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-thJ2Yroi2o {
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-thJ2Yroi2o .mbr-fallback-image.disabled {
  display: none;
}
.cid-thJ2Yroi2o .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-thJ2Yroi2o .socicon-bg-facebook {
  background: #1778f2;
  color: #ffffff;
}
.cid-thJ2Yroi2o .socicon-bg-facebook:hover {
  background: #0b60cb;
}
.cid-thJ2Yroi2o .socicon-bg-twitter {
  background: #1da1f2;
  color: #ffffff;
}
.cid-thJ2Yroi2o .socicon-bg-twitter:hover {
  background: #0c85d0;
}
.cid-thJ2Yroi2o .socicon-bg-vkontakte {
  background: #4680C2;
  color: #ffffff;
}
.cid-thJ2Yroi2o .socicon-bg-vkontakte:hover {
  background: #3567a0;
}
.cid-thJ2Yroi2o .socicon-bg-odnoklassniki {
  background: #ee8208;
  color: #ffffff;
}
.cid-thJ2Yroi2o .socicon-bg-odnoklassniki:hover {
  background: #bd6706;
}
.cid-thJ2Yroi2o .socicon-bg-pinterest {
  background: #e60023;
  color: #ffffff;
}
.cid-thJ2Yroi2o .socicon-bg-pinterest:hover {
  background: #b3001b;
}
.cid-thJ2Yroi2o .socicon-bg-mail {
  background: #005ff9;
  color: #ffffff;
}
.cid-thJ2Yroi2o .socicon-bg-mail:hover {
  background: #004cc6;
}
.cid-thJ2Yroi2o .btn-social {
  font-size: 32px;
  border-radius: 50%;
  padding: 0;
  width: 55px;
  height: 55px;
  line-height: 55px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: none !important;
}
.cid-thJ2Yroi2o .btn-social i {
  top: 0;
  line-height: 55px;
  width: 55px;
}
.cid-thJ2Yroi2o [class^="socicon-"]:before,
.cid-thJ2Yroi2o [class*=" socicon-"]:before {
  line-height: 55px;
}
.cid-thJdQCaDN5 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-thJdQCaDN5 img,
.cid-thJdQCaDN5 .item-img {
  height: 100%;
  height: 200px;
  object-fit: cover;
}
.cid-thJdQCaDN5 .item:focus,
.cid-thJdQCaDN5 span:focus {
  outline: none;
}
.cid-thJdQCaDN5 .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-thJdQCaDN5 .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-thJdQCaDN5 .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-thJdQCaDN5 .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-thJdQCaDN5 .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-thJdQCaDN5 .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-thJdQCaDN5 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-thJdQCaDN5 .mbr-section-title {
  color: #000000;
}
.cid-thJdQCaDN5 .mbr-text,
.cid-thJdQCaDN5 .mbr-section-btn {
  text-align: left;
}
.cid-thJdQCaDN5 .item-title {
  text-align: left;
  color: #000000;
}
.cid-thJdQCaDN5 .item-subtitle {
  text-align: left;
  color: #232323;
}
.cid-thJdQCaDN5 .mbr-section-subtitle {
  color: #000000;
}
.cid-thJ38MIxIV {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-thJ38MIxIV .fb-page,
.cid-thJ38MIxIV span,
.cid-thJ38MIxIV iframe {
  width: 500px;
  height: 620px;
}
.cid-thJ38MIxIV blockquote {
  display: none;
}
.cid-thJ38MIxIV .fb-page {
  background-color: #1877f2;
  border-radius: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMinYMin meet' viewBox='0 0 262 266.895'><path id='path3087' fill='%23fff' d='M182.409,262.307v-99.803h33.499l5.016-38.895h-38.515V98.777c0-11.261,3.127-18.935,19.275-18.935 l20.596-0.009V45.045c-3.562-0.474-15.788-1.533-30.012-1.533c-29.695,0-50.025,18.126-50.025,51.413v28.684h-33.585v38.895h33.585 v99.803H182.409z'></path></svg>");
}
.cid-thJ3FxYwL1 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-thJ3FxYwL1 .mbr-overlay {
  background-color: #bbbbbb;
  opacity: 0;
}
.cid-thJ3FxYwL1 form.mbr-form {
  border-radius: 10px;
  background-color: #fafafa;
}
@media (min-width: 992px) {
  .cid-thJ3FxYwL1 form.mbr-form {
    padding: 3rem 2rem;
    width: 60%;
  }
}
@media (max-width: 991px) {
  .cid-thJ3FxYwL1 form.mbr-form {
    padding: 1rem;
  }
}
.cid-thJ3FxYwL1 form.mbr-form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-thJ3FxYwL1 form.mbr-form .mbr-section-btn .btn {
  width: 100%;
}
.cid-thJ3FxYwL1 .mbr-section-title {
  color: #232323;
}
.cid-thJg5Fwz5f {
  background-color: #fafafa;
}
.cid-thJg5Fwz5f .mbr-fallback-image.disabled {
  display: none;
}
.cid-thJg5Fwz5f .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-thJg5Fwz5f .number-wrap {
  color: #232323;
  text-align: center;
}
.cid-thJg5Fwz5f .number {
  color: #232323;
  white-space: nowrap;
}
.cid-thJg5Fwz5f .period {
  display: block;
}
.cid-thJg5Fwz5f .dot {
  display: none;
}
@media (max-width: 767px) {
  .cid-thJg5Fwz5f .period {
    font-size: 0.8rem;
  }
}
.cid-thJg5Fwz5f .btn {
  height: 100%;
  margin: 0;
}
.cid-thJg5Fwz5f .mbr-section-btn {
  margin-bottom: 1.2rem;
}
.cid-thJ3Kas8kU {
  padding-top: 45px;
  padding-bottom: 15px;
  background-color: #000000;
}
@media (max-width: 767px) {
  .cid-thJ3Kas8kU .content {
    text-align: center;
  }
  .cid-thJ3Kas8kU .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-thJ3Kas8kU .map {
  height: 18.75rem;
}
@media (max-width: 767px) {
  .cid-thJ3Kas8kU .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-thJ3Kas8kU .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: 0.05;
}
.cid-thJ3Kas8kU .google-map {
  height: 25rem;
  position: relative;
}
.cid-thJ3Kas8kU .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-thJ3Kas8kU .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-thJ3Kas8kU .google-map[data-state] {
  background: #e9e5dc;
}
.cid-thJ3Kas8kU .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-thJ3Kas8kU .social-list {
  padding-left: 0;
  margin-bottom: 0;
  margin-left: -7px;
  list-style: none;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-thJ3Kas8kU .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-thJ3Kas8kU .social-list .soc-item {
  margin: 0 0.5rem;
}
.cid-thJ3Kas8kU .social-list a {
  margin: 0;
  opacity: 0.5;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.cid-thJ3Kas8kU .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-thJ3Kas8kU .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-thJ3Kas8kU .list {
  list-style-type: none;
  padding: 0;
}
.cid-thJ3Kas8kU .copyright > p {
  text-align: center;
}
